<div class="flex">
  <div class="min-w-50">
    {{ from }} - {{ to }}
  </div>
  <div>
    <h2 class="font-bold text-lg">{{title}}</h2>
    <p class="italic">{{subtitle}}</p>
    <ul class="list-disc list-inside">
      <li>olor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore mag</li>
      <li>Duis aute irure dolor in reprehenderit in</li>
      <li>oident, sunt in culpa qui</li>
    </ul>
  </div>
</div>
